body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(245, 245, 245);
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin-top: 90px;
  text-shadow: 2px 2px 6px #a9a9a9;
}

#js-form {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.search-box {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 6px;
}

button {
  padding: 8px;
  margin: 5px;
  border: none;
  background-color: #00428a;
  border-radius: 6px;
  color: whitesmoke;
  font-weight: bold;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

label {
  padding: 5px;
}

.pokedex {
  display: flex;
  justify-content: center;
}

.card {
  margin: 20px;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #466583ce;
}

.card h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.card img {
  width: 235px;
  height: 269px;
}


@media screen and (max-width: 350px) {
  #js-form {
    flex-flow: wrap;
    margin: 0px;
  }

  .card img {
    width: 135px;
    height: 169px;
  }
}